*, *::before, *::after {
    padding: 0;
    margin: 0;
}

.title {
    background-color: #222831;
    height: 100px;
    line-height: 100px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: #00adb5;
    margin-bottom: 20px;
}

.title h1 {
    color: #eeeeee;
    font-size: 70px;
    text-align: center;
}

.summary {
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    height: 100px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: #393e46;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #393e46;
    margin-bottom: 20px;
}

.summary p {
    font-size: 16px;
    margin: 20px;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eeeeee;
    height: 175px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: #393e46;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #393e46;
    margin-bottom: 20px;
}

.languages {
}

.tools {

}